#1. Popularity Based Recommendation System

## About the Dataset (jokes.csv)



 
1. Ratings are real values ranging from -10.00 to +10.00 (the value "99" corresponds to "null" = "not rated").
  
2. One row per user
3. The first column gives the number of jokes rated by that user. The next 100 columns give the ratings for jokes 01 - 100.

### Q1. Read the data (jokes.csv)

In [6]:
import pandas as pd
import numpy as np
import os

In [7]:
os.chdir('/content/drive/MyDrive/ML/Recommendation System_Internal_Lab_Question (2)')

In [8]:
ls -l

total 4
drwx------ 2 root root 4096 Dec 12 09:07 'Recommendation System_Internal_Lab_Question'/

In [9]:
df = pd.read_csv('/content/drive/MyDrive/ML/Recommendation System_Internal_Lab_Question (2)/Recommendation System_Internal_Lab_Question/jokes.csv')

In [12]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [12]:
df.shape

(24983, 101)

In [16]:
df.head()

   NumJokes  Joke1  Joke2  Joke3  ...  Joke97  Joke98  Joke99  Joke100
0        74  -7.82   8.79  -9.66  ...   -5.63   99.00   99.00    99.00
1       100   4.08  -0.29   6.36  ...    3.06    0.34   -4.32     1.07
2        49  99.00  99.00  99.00  ...   99.00   99.00   99.00    99.00
3        48  99.00   8.35  99.00  ...   99.00   99.00   99.00    99.00
4        91   8.50   4.61  -4.17  ...    3.11    6.55    1.80     1.60

[5 rows x 101 columns]

[link text](https://)

### Q2. Create new Dataframe `ratings` starting from column `joke1` and consider first 200 rows only

In [29]:
ratings = df.iloc[:200,1:]

In [30]:
ratings.isnull().any().sum()

0

In [31]:
ratings.head()

   Joke1  Joke2  Joke3  Joke4  Joke5  ...  Joke96  Joke97  Joke98  Joke99  Joke100
0  -7.82   8.79  -9.66  -8.16  -7.52  ...   99.00   -5.63   99.00   99.00    99.00
1   4.08  -0.29   6.36   4.37  -2.38  ...   -2.14    3.06    0.34   -4.32     1.07
2  99.00  99.00  99.00  99.00   9.03  ...   99.00   99.00   99.00   99.00    99.00
3  99.00   8.35  99.00  99.00   1.80  ...   99.00   99.00   99.00   99.00    99.00
4   8.50   4.61  -4.17  -5.39   1.36  ...    1.55    3.11    6.55    1.80     1.60

[5 rows x 100 columns]

### Q3. Preprocess `ratings`


*   Verify presence of null values
*   Replace null with 0

In [33]:
ratings.isnull().any().sum()

0

In [34]:
ratings = ratings.replace(99,0)

### Q4. Find mean for each joke


*   Find mean of 100 jokes

In [37]:
mean_ratings = ratings.mean(axis=0)
print(mean_ratings)
mean_ratings.head()

Joke1      0.53005
Joke2      0.59390
Joke3      0.23765
Joke4     -0.70100
Joke5     -0.03790
            ...
Joke96     0.41755
Joke97     0.75500
Joke98     0.09370
Joke99     0.13500
Joke100    0.52440
Length: 100, dtype: float64

Joke1    0.53005
Joke2    0.59390
Joke3    0.23765
Joke4   -0.70100
Joke5   -0.03790
dtype: float64

### Q5. List most popular 10 jokes

In [40]:
mean_ratings.sort_values(axis=0, ascending = False).head(10)

Joke50    4.05540
Joke36    3.61150
Joke53    3.57150
Joke35    3.22315
Joke29    3.18995
Joke27    3.05240
Joke62    2.86185
Joke49    2.85000
Joke32    2.77955
Joke31    2.65710
dtype: float64

#2. Collaborative Filtering based Recommendation System

## About the Dataset

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

#### Execute below cells to read the datasets

In [61]:
books = pd.read_csv("/content/drive/MyDrive/ML/Recommendation System_Internal_Lab_Question (2)/Recommendation System_Internal_Lab_Question/books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']


users = pd.read_csv('/content/drive/MyDrive/ML/Recommendation System_Internal_Lab_Question (2)/Recommendation System_Internal_Lab_Question/users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('/content/drive/MyDrive/ML/Recommendation System_Internal_Lab_Question (2)/Recommendation System_Internal_Lab_Question/ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Q1. Explore the Dataset

1.   Check shape of all the datasets
2.   Print Columns in all the datasets
3.   Remove last 3 columns of `books` ('imageUrlS', 'imageUrlM', 'imageUrlL')and verify

In [58]:
print("books counts = " + str(books.shape))
print("users counts = " + str(users.shape))
print("ratings counts = " + str(ratings.shape))
print("books columns = " + str(books.columns))
print("user columns = " + str(users.columns))
print("ratings columns = " + str(ratings.columns))

books counts = (271360, 5)
users counts = (278858, 3)
ratings counts = (1149780, 3)
books columns = Index(['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher'], dtype='object')
user columns = Index(['userID', 'Location', 'Age'], dtype='object')
ratings columns = Index(['userID', 'ISBN', 'bookRating'], dtype='object')

In [62]:
books.drop(columns=['imageUrlS', 'imageUrlM', 'imageUrlL'],inplace=True)

In [63]:
books.head()

         ISBN  ...                   publisher
0  0195153448  ...     Oxford University Press
1  0002005018  ...       HarperFlamingo Canada
2  0060973129  ...             HarperPerennial
3  0374157065  ...        Farrar Straus Giroux
4  0393045218  ...  W. W. Norton &amp; Company

[5 rows x 5 columns]

In [64]:
books.columns

Index(['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher'], dtype='object')

# Q2. Data Preprocessing

### Create new DataFrame `ratings_new` with:
1.   Books from `ratings` Dataset, which exists in `books` Dataset (Intersect on ISBN)
2.   Ratings from `ratings` Dataset, which exists in `users` Dataset (Intersect on userID)

In [66]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [67]:
users.head()

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [69]:
ratings_new = ratings[ratings.ISBN.isin(books.ISBN)]

In [71]:
ratings_new = ratings_new[ratings.userID.isin(users.userID)]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [72]:
ratings_new.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [73]:
ratings_new.shape

(1031136, 3)

# Q3. Data Preprocessing

### In new Dataframe, drop rows with 0 `bookRating`, since 0 is mentioned as 'Implicit Rating'.
#### (Check shape of new Dataframe before and after dropping 0s)

In [78]:
ratings_new["bookRating"].unique()

array([ 0,  5,  3,  6,  7,  9,  8, 10,  1,  4,  2])

# Q4. Check rating's distribution
### Plot a visual to identify highest occuring rating

# Q5. Build a User-Based Collaborative Filtering model



1.   Consider users who have rated atleast 100 books
2.   Transform data to surprise format
3.   Assure that only user, book and rating columns are present in the new dataset in surprise format

In [65]:
#2 Transform data to surprise format
from surprise import Dataset,Reader
from surprise.model_selection import cross_validate
from surprise import NormalPredictor


reader = Reader(rating_scale=(1, 10))

ModuleNotFoundError: ignored

# Q6. Apply SVD for user based filtering


1.   Split the data into train and test
2.   Train model on SVD
3.   Test Accuracy of the model

# Q7. Create a function to generate `n` recommendations for user `x`. (n, x should be parameterized)